nltk
langchain-huggingface
numpy
scipy
tabulate
seaborn
matplotlib
scikit-learn
xgboost
lightgbm
imbalanced-learn
langchain
langgraph
langchain-community
langchain-groq
langchain-huggingface
huggingface_hub
chromadb
fastapi[standard]
uvicorn
streamlit
chainlit
psycopg
psycopg-binary
psycopg2
sqlmodel
python-dotenv
pydantic
pydantic-settings